{% extends 'base.html.twig' %}
{% block body %}
    {% if game == false %}
        <h1>cette id ne correspond à aucun jeux steam</h1>
    {% else %}
        <div style=" background-image: url({{ game.background }});">
            Nom : {{ game.name }}
            <br>
            Description : {{ game.short_description }}
            <br>
            site internet : {{ game.website }}
            <br>
            image : <img src="{{ game.header_image }}"/>
            <br>
{#            Prix : {{ game.price_overview.final_formatted }}#}
        </div>

        {{ dump(game)}}
    {% endif %}
{% endblock %}