{% extends 'base.html.twig' %}
{% block body %}
    {% if user == false %}
        <h1>cette id ne correspond pas à un profil public</h1>
    {% else %}
        nom : {{ user.personaname }}
        </br>
        langue : {{ user.loccountrycode }}
        </br>
        image :     <img src="{{ user.avatar }}"/>
    {% endif %}
{% endblock %}