{% extends 'base.html.twig' %}

{% block body %}

    <h1>Login</h1>

    {% if error != null %}
        <p style="color:red;"> Adresse Mail ou mot de passe invalide</p>
    {% endif %}

    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">
            {% if error != null %}
                <input value="{{ last_username }}" required name="_username" type="text" class="form-control">
            {% else %}
            <input placeholder="Adresse email ..." required name="_username" type="text" class="form-control">
            {% endif %}
        </div>

        <div class="form-group">
            <input placeholder="Password ..." required name="_password" type="password" class="form-control">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Connexion</button>
        </div>
    </form>


{% endblock %}
