{% extends 'base.html.twig' %}

{% block body %}

    <h1>Panel Admin</h1>


        <div class="responsive-table-line" style="margin:0px auto;max-width:700px;">
            <table class="table table-bordered table-condensed table-body-center">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Mail</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
    {% for user in listUser %}
                <tr>
                    <th>{{ user.username }}</th>
                    <th>{{ user.email }}</th>
                    <th>{{ user.role }}</th>
                    <th><a href="/showProfil/{{ user.getId() }}" class="btn btn-primary">Voir</a></th>
                </tr>
    {% endfor %}

                </tbody>
            </table>
        </div>
        {#{{ user.username }}#}
        {#{{ user.role }}#}

        {#<a href="/showProfil/{{ user.getId() }}" class="btn btn-primary">Voir</a>#}

        {#<br>#}


{% endblock %}
