{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Valider</button>
    {#{{ form_row(form.email)}}#}
    {#{{ form_row(form.username)}}#}
    {#{{ form_row(form.password)}}#}
    {#{{ form_row(form.confirmPassword)}}#}
    {{ form_end(form) }}

{% endblock %}