{% extends 'base.html.twig' %}

{% block body %}

    <h1> Votre Profil</h1>

    <ul>
        <li> Pseudo : {{ user.username }}</li>
        <li> Mail : {{ user.email }}</li>
        {% if user.role == "ROLE_USER" %}
            <li> Role : utilisateur</li>
        {% endif %}
        {% if user.role == "ROLE_REDACTEUR" %}
            <li> Role : redacteur</li>
        {% endif %}
        {% if user.role == "ROLE_ADMIN" %}
            <li> Role : administrateur</li>
        {% endif %}

        {% if app.user.role == "ROLE_ADMIN" %}
            <a href="/changRole/{{ user.id }}" class="btn btn-info">modifier Role</a>
        {% endif %}

        <a href="/changUser/{{ user.id }}" class="btn btn-info">modifier Profil</a>
        <a href="/changPassword/{{ user.id }}" class="btn btn-info">modifier votre mot de passe</a>
        <a href="/" class="btn btn-primary">retour</a>
    </ul>

{% endblock %}