{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1>Créer Votre Jeu</h1>

    {{ form_start(formGame) }}
    {{ form_widget(formGame) }}
        <button type="submit" class="btn btn-success">valider</button>
    {{ form_end(formGame) }}


{% endblock %}
