{% extends "base.html.twig" %}

{% block body %}
    {% if app.user %}
    {% if app.user.role == "ROLE_ADMIN" %}
    <a href="/postGame" class="btn btn-primary">ajouter nouveau jeu</a>
    {% endif %}
    {% endif %}

    <h1> Liste des jeux</h1>


    {% for game in liste %}
        {{ game.name }}
        <a href="/getGame/{{ game.getId() }}" class="btn btn-primary">Voir</a>
        {% if app.user %}
            {% if app.user.role == "ROLE_REDACTEUR" or app.user.role == "ROLE_ADMIN" %}
                <a href="/deleteGame/{{ game.getId() }}" class="btn btn-primary">X</a>
                <a href="/putGame/{{ game.getId() }}" class="btn btn-primary">modifier</a>
            {% endif %}
        {% endif %}
        <br>
    {% endfor %}

{% endblock %}