{% extends "base.html.twig" %}

{% block body %}
    {% if game == null %}
        <h1> Le nom de ce jeux ne correspond à aucune autre dans notre base de données (Attention la recherche est
            sensible à la casse)</h1>
        {% if app.user %}
            {% if app.user.role == "ROLE_ADMIN" %}
                <a href="/addGame/{{ name }}" class="btn btn-primary">Creer ce jeux</a>
            {% endif %}
        {% endif %}
    {% else %}

        <h1> {{ game.name }}</h1>
        <p> {{ game.description }}</p>

        {% if app.user %}
            {% if app.user.role == "ROLE_ADMIN" %}
                <a href="/deleteGame/{{ game.getId() }}" class="btn btn-primary">X</a>
                <a href="/putGame/{{ game.getId() }}" class="btn btn-primary">modifier</a>
            {% endif %}

            {% if app.user.role == "ROLE_REDACTEUR" or app.user.role == "ROLE_ADMIN" %}
                <form action="/postMessage/{{ game.id }}" method="post">
                    <textarea name="message" cols="30"></textarea>
                    <br>
                    <button class="btn btn-primary" type="submit">Envoyer le message</button>
                </form>
            {% endif %}
        {% endif %}

        <div class="table-responsive">
            <table style="border: 1px solid black;">
                <thead style="border: 1px solid black;">
                <tr>
                    <th style="border: 1px solid black;">Auteur</th>
                    <th style="border: 1px solid black;">Commentaire</th>
                </tr>
                </thead>
                <tbody style="border: 1px solid black;">
                {% for message in game.messages %}
                    <tr>
                        <th style="border: 1px solid black;">{{ message.getSecurityUser().getUsername() }}</th>
                        <th style="border: 1px solid black;">{{ message.getText() }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}


{% endblock %}