{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}

    <a href="/postMessage" class="btn btn-primary">Ajouter nouveau message</a>


    <h1> Liste des messages</h1>


    {% for message in liste %}
        {{ message.text }} ({{ message.game }})
        <a href="/deleteMessage/{{ message.getId() }}" class="btn btn-primary">X</a>
        <a href="/putMessage/{{ message.getId() }}" class="btn btn-primary">Modifier</a>
        <a href="/getMessage/{{ message.getId() }}" class="btn btn-primary">Voir</a>
        <br>
    {% endfor %}

{% endblock %}