{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1>Création d'un nouveau message</h1>

    {{ form_start(formMessage) }}
    {{ form_widget(formMessage) }}
        <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(formMessage) }}


{% endblock %}
