{% extends "base.html.twig" %}

{% block body %}

    <a href="/getAllMessages" class="btn btn-primary">Voir liste des messages</a>
    <a href="/deleteMessage/{{ message.getId() }}" class="btn btn-primary">X</a>
    <a href="/putMessage/{{ message.getId() }}" class="btn btn-primary">Modifier</a>


    <h1> {{ message.text }}</h1>




{% endblock %}