<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path("index") }}">index</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('getAllGame') }}"> voir liste jeux <span
                    class="sr-only">(current)</span></a>
    </li>
    <form class="form-inline my-2 my-lg-0" method="post" action="/searchGame">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="name">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('getSteamUser') }}"> chercher un utilisateur steam <span
                    class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('getSteamGame') }}"> chercher un jeux steam <span
                    class="sr-only">(current)</span></a>
    </li>
    {% if app.user %}
        {% if app.user.role == "ROLE_REDACTEUR" or app.user.role == "ROLE_ADMIN" %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('postMessage') }}"> ajouter un commentaire <span
                            class="sr-only">(current)</span></a>
            </li>
        {% endif %}
    {% endif %}

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if not app.user %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('registration') }}"> register<span
                                class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('security_login') }}"> login <span
                                class="sr-only">(current)</span></a>
                </li>
            {% else %}

                <p class="nav navbar-text">
                    Bienvenue {{ app.user.username }}

                </p>
                {% if app.user.role == "ROLE_ADMIN" %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('panelAdmin') }}"> Panel Admin <span
                                    class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('security_logout') }}"> logout <span
                                class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/showProfil/{{ app.user.id }}"> voir profil <span
                                class="sr-only">(current)</span></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


<div class="container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
